<style>
	.footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 0.3em;
		background-color: var(--color-secondary);
		/* background: linear-gradient(
		to right,
		hsl(142 70 39 / 1),
		hsl(122 70 39 / 1),
		hsl(142 70 39 / 1)
	); */
		color: antiquewhite;
	}
	.footer_alink {
		width: 40px;
		cursor: auto;
	}
</style>
<footer class="footer">
	<span class="copyright"> 2026 © WebDev </span>
	<a
		href="#"
		class="footer_alink"
	>
		<img
			src="../../node_modules/@maxmov/assets/icons/wa.svg"
			alt="whatsapp icon"
		/>
	</a>
	<span>+7(926)604-66-41</span>
</footer>
