<header class="header">
	<p class="header_slogan">
		<span> Быстрее! </span>
		<span> Выше! </span>
		<span> Сильнее! </span>
	</p>
	<h1>День строителя в Сычёво</h1>
	<marquee
		class="header_marquee"
		behavior=""
		direction=""
		scrollamount="3"
	>
		При поддержке администрации Волоколамского района
	</marquee>
	<div class="header_dynamic_content">
		<h2>
			<span
				class="header_span_day"
				id="header_span_day_id"
				>День</span
			>
			<span
				class="header_span_date"
				id="header_span_date_id"
				>Число</span
			>
			<span
				class="header_span_month"
				id="header_span_month_id"
				>Месяц</span
			>
			<span
				class="header_span_year"
				id="header_span_year_id"
				>Год</span
			>
		</h2>
		<p>
			<span
				class="header_span_info"
				id="header_span_info_id"
			>
				дополнительная информация
			</span>
		</p>
	</div>

	<nav class="header_nav">
		<ul class="header_nav_ul">
			<li><a href="#home">Стартовая стр.</a></li>
			<li><a href="#results">Результаты</a></li>
			<li><a href="#gallery">Галерея</a></li>
			<li class="header_select_container">
				<label for="header_select_id">Год</label>
				<select
					class="header_select"
					id="header_select_id"
				>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
				</select>
			</li>
		</ul>
	</nav>
</header>
