@layer reset, app, flippingcard;
/* @import "../node_modules/@maxmov/css/reset.css"; */
/* @layer reset {
} */
@layer app {
	body {
		background-color: hsl(36, 100%, 90%);
		padding: 1.5em;
		/* height: 120%; */
		/* position: absolute; */
	}
	.app {
		width: 30%;
		min-width: 360px;
		margin: auto;
		/* display: grid;
		grid-template-rows: min-content 1fr min-content; */
		display: flex;
		flex-direction: column;
		gap: 2em;
		place-items: center;
		height: 100%;
		min-height: -moz-available; /* Для Mozilla Firefox */
		min-height: -webkit-fill-available; /* Для старых Safari/Chrome/iOS */
		min-height: stretch;
		/* max-height: 100%; */
		/* margin: -1.5em; */
		padding: 1em;
		border-radius: 1em;

		/* background: url("../node_modules/@maxmov/assets/img/bg/asfalt_dark.png")
			#fad59e; */
		background: url("@maxmov/assets/img/bg/asfalt_dark.png") #fad59e;

		box-shadow: 3px 3px 2px hsl(0 50% 0% / 0.2);
		perspective: 900px;
	}
	.header,
	.main,
	.footer {
		border: 5px dashed hsl(200 50% 50% / 0.2);
	}
	.header,
	.footer {
		flex: 0 1 auto;
	}
	flippin-card {
		display: grid;
		position: relative;
		/* align-content: center; */
		/* overflow: scroll; */
		/* height: fit-content; */
		height: 100%;
		/* place-self: stretch; */
	}
}
