.footer {
	background-color: hsl(36, 100%, 90%);
	padding: 0.5em;
	border-radius: 1em;
	font-size: 0.8em;
	align-self: end;
}
.copyright {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5em;
	img {
		border-radius: 50%;
		border-bottom-left-radius: 0px;
		width: 2.5ch;
		display: initial;
	}
}
