<main class="main">
	<!-- id="home" -->
	<section
		class="hero view"
		data-link="home"
		id="hero_section_id"
	>
		<img
			class="main_hero_image"
			src="./public/assets/images/hero.webp"
			alt="hero image"
			srcset=""
		/>
	</section>
	<!-- id="results_2024" -->
	<section
		class="results view hidden"
		data-link="results_2024"
	></section>
	<!-- id="results_2025" -->
	<section
		class="results view hidden"
		data-link="results_2025"
	></section>
	<!-- id="results_2026" -->
	<section
		class="results view hidden"
		data-link="results_2026"
	></section>
	<!-- id="gallery" -->
	<section
		class="gallery view hidden"
		data-link="gallery"
	>
		<!-- <p>Gallery coming soon...</p> -->
	</section>
</main>
